@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Azeret Mono", monospace; */
* {
    margin: 0;
    padding: 0;
}

#hero {
    /* height: 306px; */
    background-image: url("../assets/Hero-bg.png");
    background-size: cover;
    background-position: center;
    /* display: flex;
    justify-content: center; */
    align-items: center;
    height: 85vh;
    margin-bottom: 100px;


}


#hero .hero-content {
    text-align: center;
    padding: 50px 0 100px 0;
}

#hero .hero-content .subtitle {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 60px;
    line-height: 80px;
    font-weight: 800;
    text-align: center;
    margin-top: 30px;
    margin-bottom: -30px;
}

.text {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    padding: 70px 0;
    opacity: 0.7;
}

#hero .hero-content .btn {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    padding: 20px 30px;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    background: rgb(13, 19, 33);
}

/* navbar end */

#main-content {
    width: 70%;
    margin: 0 auto;
    background-color: #FAFAFA;
    border-radius: 20px;
    padding: 120px;
}

.top-content {
    text-align: center;
}

.top-content .main-text {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    line-height: 80px;
    font-weight: 800;
    text-align: center;
    margin-bottom: -40px;
}

.step-1 {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    margin-top: 50px;
    background-color: #FEFEFE;
    /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #FEFEFE, #FAFAFA);
    padding: 100px;
    border-radius: 20px;
}

.step-1-1 {
    flex-grow: 1;
}

.i-will {
    color: #555963;
    font-family: Azeret Mono;
    font-size: 36px;

}

.one {
    flex: 1 1 auto;
    width: 100%;
}

.two {
    flex: 1 1 auto;
    width: 100%;
    text-align: center;
}

.text-content {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    padding: 30px 0;
    opacity: 0.7;
}

.learn-more {
    font-family: Azeret Mono;
    color: #555963;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px;
    border: 1px solid #555963;
    text-decoration: none;
}

.step-2 {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    margin-top: 50px;
    background-color: #FEFEFE;
    /* For browsers that do not support gradients */
    background-image: linear-gradient(to left, #FEFEFE, #FAFAFA);
    padding: 100px;
    border-radius: 20px;
}

#video-content .top-content .main-text{
    margin-top: 50px;
}

.video iframe{
    border-radius: 20px;
    

}
.video-content-1{
    border-radius: 16px;
    border: 1px solid #555963;
    padding: 50px;
}
.bordar-1{
    width: 5%;
    margin: 0 auto;
    border: 1px solid red;
    margin-top: -40px;
    margin-bottom: 40px;
}
